<div class="well col-md-10 col-md-offset-1" style="min-height: 188px;">
    <div class="col-md-6">
        {% if user.avatar is not null %}
            <img class="picture img-circle img-responsive" src="{{ user.avatar.webPath|apply_filter('tb-150x150') }}" alt="{{ user.username }}"/>
        {% else %}
            <img class="picture img-circle img-responsive" src="{{ gravatar(user.email, 150) }}" alt="{{ user.username }}"/>
        {% endif %}
    </div>
    <div class="col-md-6">
        <p>{{ user.firstName|default('') ~ ' ' ~ user.lastName|default('') }} (<strong>{{ user.username }}</strong>)</p>
        {% if user.city is not null %}<p>{{ user.city }}</p>{% endif %}
        {% if user.function is not null %}
        <br/>
        <p><strong>{{ user.function }}</strong></p>
        {% endif %}
    </div>
</div>