<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Restart the Game{% endblock %}</title>
        <meta name="author" content="Olivier Haag">
        <link rel="icon" href="{{ asset('favicon.ico') }}" />


        {% block stylesheet %}
            {% stylesheets
                'bundles/rtgapp/less/bootstrap.less'
                'bundles/rtgapp/less/main.less'
                filter='cssrewrite'
                output='css/main.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />{% endstylesheets %}
        {% endblock %}
    </head>
    {% trans_default_domain 'RTGAppBundle' %}
    <body>
        <div class="scanlines"></div>
        {{ include('RTGAppBundle:Page:menuUser.html.twig') }}
        <div class="container banner">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="{{ path('rtg_app_page_index') }}" title="Restart the Game">
                            <img class="center-block img-responsive" src="{{ asset('bundles/rtgapp/img/logo.png') }}" alt="Restart the Game"/>
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="title row">
                        <div class="center-block">
                            <a href="{{ path('rtg_app_page_index') }}" title="Restart the Game">Restart the Game</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="main-menu" class="container bloc">
            {{ render(controller('RTGAppBundle:Page:menu')) }}
        </div>
            
        {% block body %}{% endblock %}
        
        <div id="footer">
            <div class="container bloc">
                <div id="copyright">
                    {% block footer %}
                    © 2013-{{ "now"|date("Y") }} Restart the Game - <a href="{{ path('rtg_app_page_legalnotices') }}">{{ 'legal_notices'|trans({}, 'menu') }}</a>
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="scrollup"></div>

        {% block javascript %}
            {% javascripts
                'bundles/rtgapp/js/jquery-1.9.1.min.js'
                'bundles/rtgapp/dist/js/bootstrap.min.js'
                'bundles/rtgapp/js/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-46631318-1', 'auto');
            ga('send', 'pageview');
        </script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>