{% extends 'RTGAppBundle::layout.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}
<h1>Administration</h1>
<div class="container-fluid">
    <div class="row">
    <a class="btn btn-primary col-md-2" href="{{ path('rtg_blog_admin_newsarticle_index') }}">
        <i class="glyphicon glyphicon-th-large" aria-hidden="true" style="font-size: 96px;"></i>
        <div>{{ 'news'|trans({}, 'menu') }}</div>
    </a>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <a class="btn btn-primary col-md-2 col-md-offset-1" href="{{ path('rtg_blog_admin_category_index') }}">
        <i class="glyphicon glyphicon-list" aria-hidden="true" style="font-size: 96px;"></i>
        <div>{{ 'categories'|trans({}, 'menu') }}</div>
    </a>
    {% endif %}

    <a class="btn btn-primary col-md-2 col-md-offset-2" href="{{ path('rtg_blog_admin_competitionarticle_index') }}">
        <i class="glyphicon glyphicon-star" aria-hidden="true" style="font-size: 96px;"></i>
        <div>{{ 'competitions'|trans({}, 'menu') }}</div>
    </a>

    <a class="btn btn-primary col-md-2 col-md-offset-1" href="{% if is_granted('ROLE_SUPER_ADMIN') %}{{ path('rtg_user_superadmin_user_index') }}{% else %}{{ path('rtg_user_admin_user_index') }}{% endif %}">
        <i class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 96px;"></i>
        <div>{% trans from 'content' %}users{% endtrans %}</div>
    </a>
    </div>
</div>
{% endblock %}
