<div class="col-md-10 col-md-offset-1 vcard">
    <div class="col-md-6">
        {% if file_exists(web_path~'/bundles/rtgapp/img/content/staff/'~image) %}
        <img class="picture img-circle img-responsive" src="{{ asset('bundles/rtgapp/img/content/staff/'~image) }}" />
        {% else %}
        <img class="picture img-circle img-responsive" src="{{ asset('bundles/rtgapp/img/content/staff/anonyme.jpg') }}" />
        {% endif %}
    </div>
    <div class="col-md-6">
        <p>{{ name }} (<strong>{{ pseudo }}</strong>)</p>
        <p>{{ city }}</p>
        <br/>
        <p><strong>{{ role }}</strong></p>
    </div>
</div>