{% extends 'RTGUserBundle::layout.html.twig' %}

{% block title %}{{ 'user.title.edit'|trans({'username': entity.username}, 'entity') }}{% endblock %}

{% block content -%}
    <h1>{{ 'user.title.edit'|trans({'username': entity.username}, 'entity') }}</h1>

    {{ form_start(form, { 'attr': { 'class': 'form' } }) }}
    
    {{ form_errors(form) }}

    <div class="form-group">
        <label>{{ 'user.field.username'|trans({}, 'entity') }}</label>
        <div>{{ entity.username }}</div>
    </div>

    <div class="form-group">
        <label>{{ 'user.field.email'|trans({}, 'entity') }}</label>
        <div>{{ entity.email }}</div>
    </div>

    <div class="checkbox">
    {{ form_row(form.newsletter, { 'attr': { 'placeholder': 'user.field.newsletter'|trans } }) }}
    </div>

    <div class="form-group">
    {{ form_row(form.birthday) }}
    </div>

    <div class="form-group">
    {{ form_row(form.city, { 'attr': { 'placeholder': 'user.field.city'|trans } }) }}
    </div>
    
    <div class="form-group">
    {{ form_row(form.enabled, { 'attr': { 'placeholder': 'user.field.enabled'|trans } }) }}
    </div>
    
    <div class="form-group">
    {{ form_row(form.locked, { 'attr': { 'placeholder': 'user.field.locked'|trans } }) }}
    </div>
    
    {% if delete_img_form is not defined %}
    <div class="form-group">
    {{ form_row(form.avatar) }}
    </div>
    {% else %}
    <div class="form-group">
        <label>Image</label>
        <div>
            <img src="{{ entity.avatar.webPath|apply_filter('tb-128x128') }}" alt="{{ entity.username }}"/>
        </div>
    </div>
    {% endif %}

    <div class="form-group pull-right">
    {{ form_row(form.submit) }}
    </div>

    {{ form_end(form) }}

    {% if delete_img_form is defined %}
        {{ form(delete_img_form) }}
        <div class="clearfix"></div>
    {% endif %}
    
    <a class="btn btn-primary" href="{{ path('rtg_user_admin_user_index') }}">{{ 'user.button.back_to_list'|trans({}, 'entity') }}</a>
{% endblock %}
