{% extends 'RTGUserBundle::layout.html.twig' %}
{% trans_default_domain 'entity' %}

{% block title %}{{ 'user.title.edit'|trans({'username': user.username}) }}{% endblock %}

{% block content -%}
    <h1>{{ 'user.title.edit'|trans({'username': user.username}) }}</h1>

    {{ form_start(form, { 'attr': { 'class': 'form' } }) }}
    
    {{ form_errors(form) }}

    <fieldset class="row form-group">
        <div class="col-md-2">{{ form_label(form.username) }}</div>
        <div class="col-md-6">
            {{ form_widget(form.username, { 'attr': { 'placeholder': 'user.field.username'|trans } }) }}
            <small>Le nom d'utilisateur doit contenir entre 2 et 20 caractères.</small>
            {{ form_errors(form.username) }}
        </div>
    </fieldset>

    <fieldset class="row form-group">
        <div class="col-md-2">{{ form_label(form.email) }}</div>
        <div class="col-md-6">
            {{ form_widget(form.email, { 'attr': { 'placeholder': 'user.field.email'|trans } }) }}
            {{ form_errors(form.email) }}
        </div>
    </fieldset>

    <fieldset class="row form-group">
        <div class="col-md-2"><label>{{ 'user.field.newsletter'|trans }}</label></div>
        <div class="col-md-6"><div class="checkbox"><label>{{ form_widget(form.newsletter) }} {{ 'user.field.newsletter_suscribe'|trans }}</label></div></div>
    </fieldset>

    <fieldset class="row form-group">
        <div class="col-md-2">{{ form_label(form.birthday) }}</div>
        <div class="col-md-6">
            {{ form_widget(form.birthday) }}
            {{ form_errors(form.birthday) }}
        </div>
    </fieldset>

    <fieldset class="row form-group">
        <div class="col-md-2">{{ form_label(form.city) }}</div>
        <div class="col-md-6">
            {{ form_widget(form.city, { 'attr': { 'placeholder': 'user.field.city'|trans } }) }}
            {{ form_errors(form.city) }}
        </div>
    </fieldset>

    <fieldset class="row form-group">
        <div class="col-md-2"><label>{{ 'user.field.avatar'|trans }}</label></div>
        <div class="col-md-6 uploader">
            <div class="picture">
                {% if user.avatar is not null %}
                    <img src="{{ user.avatar.webPath|apply_filter('tb-128x128') }}" alt="{{ user.username }}"/>
                    <div class="checkbox-inline"><label>{{ form_widget(form.delete_avatar) }} {{ 'user.field.delete_avatar'|trans }}</label></div>
                {% else %}
                    <img src="{{ gravatar(user.email) }}" alt="{{ user.username }}"/>
                {% endif %}
            </div>
            {% if form.avatar is defined %}
                <div class="file">
                    {{ form_widget(form.avatar.file) }}
                    <small>GIF, JPG ou PNG de 300 kB max.</small>
                </div>
                {{ form_errors(form.avatar.file) }}
            {% endif %}
        </div>
    </fieldset>

    <fieldset class="row form-group">
        <div class="col-md-2"><label>{{ 'user.field.enabled'|trans }}</label></div>
        <div class="col-md-6"><div class="checkbox"><label>{{ form_widget(form.enabled) }} A validé son adresse électronique</label></div></div>
    </fieldset>
    
    <fieldset class="row form-group">
        <div class="col-md-2"><label>{{ 'user.field.locked'|trans }}</label></div>
        <div class="col-md-6"><div class="checkbox"><label>{{ form_widget(form.locked) }} {{ 'user.field.locked'|trans }}</label></div></div>
    </fieldset>
    
    <div class="form-group pull-right">
        {{ form_row(form.submit) }}
    </div>

    {{ form_end(form) }}
    
    <a class="btn btn-primary" href="{{ path('rtg_user_admin_user_index') }}">{{ 'user.button.back_to_list'|trans({}, 'entity') }}</a>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(function() {
            $('#rtg_userbundle_admin_useredit_birthday').datetimepicker({
                format: 'DD/MM/YYYY'
            });
        });
    </script>
{% endblock %}