{% extends 'RTGUserBundle::layout.html.twig' %}

{% block title %}{{ 'user.title.index'|trans({}, 'entity') }}{% endblock %}

{% block content -%}
    <h1>{{ 'user.title.index'|trans({}, 'entity') }}</h1>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'user.field.username'|trans({}, 'entity') }}</th>
                <th>{{ 'user.field.email'|trans({}, 'entity') }}</th>
                <th>{{ 'user.field.newsletter'|trans({}, 'entity') }}</th>
                <th>{{ 'user.field.lastLogin'|trans({}, 'entity') }}</th>
                <th>{{ 'user.field.roles'|trans({}, 'entity') }}</th>
                <th>{{ 'user.field.locked'|trans({}, 'entity') }}</th>
                <th>{{ 'user.field.actions'|trans({}, 'entity') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ path('rtg_user_admin_user_edit', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td>{{ entity.email }}</td>
                <td>{% if entity.newsletter %}Oui{% else %}Non{% endif %}</td>
                <td>{{ entity.lastLogin|time_ago_in_words(true, true)|trans() }}</td>
                <td>{% for role in entity.roles %}{{ role|trans({}, 'entity') }}<br/>{% endfor %}</td>
                <td>{{ entity.locked }}</td>
                <td>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('rtg_user_admin_user_edit', { 'id': entity.id }) }}"><button class="btn btn-primary btn-xs">{{ 'user.button.edit'|trans({}, 'entity') }}</button></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
