{% extends 'RTGBlogBundle::layout.html.twig' %}

{% block content -%}
    <h1>{{ 'title.competition.edit'|trans }}</h1>

    {{ form_start(form, { 'attr': { 'class': 'form' } }) }}
    
    {{ form_errors(form) }}

    <div class="form-group">
    {{ form_row(form.title, { 'attr': { 'placeholder': 'article.title'|trans } }) }}
    </div>
    
    <div class="form-group">
    {{ form_row(form.message, { 'attr': { 'placeholder': 'article.message'|trans } }) }}
    </div>
    
    {% if delete_img_form is not defined %}
    <div class="form-group">
    {{ form_row(form.image) }}
    </div>
    {% else %}
    <div class="form-group">
        <label>{{ 'article.image'|trans({}, 'form') }}</label>
        <div>
            <img src="{{ asset(entity.image.webPath) }}" alt="{{ entity.title }}"/>
        </div>
    </div>
    {% endif %}
    
    <div class="form-group pull-right">
    {{ form_row(form.submit) }}
    </div>
    
    {{ form_end(form) }}
    
    <div class="form-group pull-right">
    {{ form(delete_form) }}
    </div>
            
    {% if delete_img_form is defined %}
    {{ form(delete_img_form) }}
    <div class="clearfix"></div>
    {% endif %}
    
    <a href="{{ path('rtg_blog_admin_competitionarticle_index') }}">
        <button class="btn btn-primary">{{ 'article.back_to_the_list'|trans({}, 'form') }}</button>
    </a>
{% endblock %}
