{% extends 'RTGUserBundle::layout.html.twig' %}
{% trans_default_domain 'entity' %}

{% block title %}{{ 'user.title.edit'|trans({'username': user.username}) }}{% endblock %}

{% block content -%}
    <h1>{{ 'user.title.edit'|trans({'username': user.username}) }}</h1>

    {{ form_start(form, { 'attr': { 'class': 'form' } }) }}
    
    {{ form_errors(form) }}

    <fieldset class="row-fluid form-group">
        <div class="col-md-2">{{ form_label(form.username) }}</div>
        <div class="col-md-6">
            {{ form_widget(form.username, { 'attr': { 'placeholder': 'user.field.username'|trans } }) }}
            <small>Le nom d'utilisateur doit contenir entre 2 et 20 caractères.</small>
            {{ form_errors(form.username) }}
        </div>
    </fieldset>

    <fieldset class="row-fluid form-group">
        <div class="col-md-2">{{ form_label(form.email) }}</div>
        <div class="col-md-6">
            {{ form_widget(form.email, { 'attr': { 'placeholder': 'user.field.email'|trans } }) }}
            {{ form_errors(form.email) }}
        </div>
    </fieldset>

    <fieldset class="row-fluid form-group">
        <div class="col-md-2"><label>{{ 'user.field.newsletter'|trans }}</label></div>
        <div class="col-md-6"><div class="checkbox"><label>{{ form_widget(form.newsletter) }} {{ 'user.field.newsletter_suscribe'|trans }}</label></div></div>
    </fieldset>

    <fieldset class="row-fluid form-group">
        <div class="col-md-2">{{ form_label(form.birthday) }}</div>
        <div class="col-md-6">
            <div class="col-md-4">
                {{ form_widget(form.birthday.children.day, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            <div class="col-md-4">
                {{ form_widget(form.birthday.children.month, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            <div class="col-md-4">
                {{ form_widget(form.birthday.children.year, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            {{ form_errors(form.birthday) }}
        </div>
    </fieldset>

    <fieldset class="row-fluid form-group">
        <div class="col-md-2">{{ form_label(form.city) }}</div>
        <div class="col-md-6">
            {{ form_widget(form.city, { 'attr': { 'placeholder': 'user.field.city'|trans } }) }}
            {{ form_errors(form.city) }}
        </div>
    </fieldset>

    <fieldset class="row-fluid form-group">
        <div class="col-md-2"><label>{{ 'user.field.avatar'|trans }}</label></div>
        <div class="col-md-6 uploader">
            {% if user.avatar is not null %}
                <div class="picture">
                    <img src="{{ user.avatar.webPath|apply_filter('tb-128x128') }}" alt="{{ user.username }}"/>
                    <div class="checkbox-inline"><label>{{ form_widget(form.delete_avatar) }} {{ 'user.field.delete_avatar'|trans }}</label></div>
                </div>
            {% endif %}
            {% if form.avatar is defined %}
                <div class="file">
                    {{ form_widget(form.avatar.file) }}
                    <small>GIF, JPG ou PNG de 300 kB max.</small>
                </div>
                {{ form_errors(form.avatar.file) }}
            {% endif %}
        </div>
    </fieldset>
    
    <fieldset class="row-fluid form-group">
        <div class="col-md-2"><label>{{ 'user.field.enabled'|trans }}</label></div>
        <div class="col-md-6"><div class="checkbox"><label>{{ form_widget(form.enabled) }} A validé son adresse électronique</label></div></div>
    </fieldset>
    
    <fieldset class="row-fluid form-group">
        <div class="col-md-2"><label>{{ 'user.field.locked'|trans }}</label></div>
        <div class="col-md-6"><div class="checkbox"><label>{{ form_widget(form.locked) }} {{ 'user.field.locked'|trans }}</label></div></div>
    </fieldset>
    
    <fieldset class="row-fluid form-group">
        <div class="col-md-2"><label>{{ 'user.field.roles'|trans }}</label></div>
        <div class="col-md-6">
            <ul id="role-fields-list" data-prototype="{{ form_widget(form.roles.vars.prototype) | e }}">
            {% for role in form.roles %}
                <li>
                    {{ form_errors(role) }}
                    {{ form_widget(role) }}
                    <a href="#" class="remove-role">X</a>
                </li>
            {% endfor %}
            </ul>
            <a href="#" id="add-another-role">Ajouter un rôle</a>
        </div>
    </fieldset>

    <div class="form-group pull-right">
        {{ form_row(form.submit) }}
    </div>

    {{ form_end(form) }}
    
    <div class="form-group pull-right">
    {{ form(delete_form) }}
    </div>
    
    <a class="btn btn-primary" href="{{ path('rtg_user_superadmin_user_index') }}">{{ 'user.button.back_to_list'|trans }}</a>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        // garde une trace du nombre de champs role qui ont été affichés
        var roleCount = '{{ form.roles | length }}';

        $(document).ready(function() {
            $('#add-another-role').click(function(event) {
                event.preventDefault();
                var roleList = $('#role-fields-list');

                // parcourt le template prototype
                var newWidget = roleList.attr('data-prototype');
                // remplace les "__name__" utilisés dans l'id et le nom du prototype
                // par un nombre unique pour chaque role
                // le nom de l'attribut final ressemblera à name="user[roles][2]"
                newWidget = newWidget.replace(/__name__/g, roleCount);
                roleCount++;

                // créer une nouvelle liste d'éléments et l'ajoute à notre liste
                var newLi = $('<li></li>').html(newWidget);
                var newDeleteLink = $('<a href="#" class="remove-role"> X</a>');
                newLi.appendTo($('#role-fields-list'));
                newDeleteLink.appendTo(newLi);
                newDeleteLink.click(function(event) {
                    event.preventDefault();
                    $(this).parent('li').remove();
                });

                return false;
            });
            $('.remove-role').click(function(event) {
                event.preventDefault();
                $(this).parent('li').remove();
            });
        });
    </script>
{% endblock %}
