{% extends 'RTGBlogBundle::layout.html.twig' %}

{% block title %}{% trans %}News{% endtrans %} - RTG{% endblock %}

{% block content %}
    {% for article in articles %}
        <article class="article">
            <header>
                <div class="pull-right">Posté par <span class="highlight">{{article.author}}</span> le <time datetime="{{ article.created|date('c') }}">{{ article.created|localizeddate('full', 'short') }}</time></div>
                <h2><a href="{{ path('rtg_blog_newsarticle_show', { 'slug': article.slug }) }}">{{ article.title }}</a></h2>
            </header>

            {# <img src="{{ asset(article.image.webPath) }}" /> #}
            <div class="snippet">
                <p>{{ article.catchPhrase }}</p>
                <div class="pull-right"><a href="{{ path('rtg_blog_newsarticle_show', { 'slug': article.slug }) }}#comments">{{ 'Voir les commentaires ('~article.comments|length~')' }}</a></div>
                <p class="continue"><a href="{{ path('rtg_blog_newsarticle_show', { 'slug': article.slug }) }}">{% trans %}Continue reading...{% endtrans %}</a></p>
            </div>
        </article>
        {% if not loop.last %}<hr/>{% endif %}
    {% else %}
        <p>{% trans %}There are no articles{% endtrans %}</p>
    {% endfor %}
{% endblock %}