{% extends 'RTGBlogBundle::layout.html.twig' %}

{% block title %}{{ article.title }} - RTG{% endblock %}

{% block content %}
    <article>
        <header>
            {# |date('l, F j, Y') #}
            <time datetime="{{ article.created|date('c') }}" class="pull-right">{{ article.created|localizeddate('full', 'none')|capitalize }}</time>
            <h1>{{ article.title }}</h1>
            {% if article.image is not null %}
                <img src="{{ asset(article.image.webPath) }}" alt="{{ article.title }} image not found" class="img-responsive" />
            {% endif %}
        </header>
        <div>
            {{ article.message|raw }}
        </div>
    </article>
    <section class="comments" id="comments">
        <section class="previous-comments bloc">
            <h2>{% trans %}Comments{% endtrans %}</h2>
            {% include 'RTGBlogBundle:NewsComment:index.html.twig' with { 'comments': comments } %}
        </section>
    </section>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript">
    $( document ).ready(function() {
        $('textarea').autosize();
    });
</script>
{% endblock %}