{% extends 'RTGSiteBundle::layout.html.twig' %}

{% block title %}Qui sommes nous ? - RTG{% endblock %}

{% block content %}
<div class="bloc">
    <h1>Qui sommes nous ?</h1>
    <h2>Naissance du projet RTG</h2>
    <p>Partis du constat que la communauté Pc française manquait d’évènements virtuels et physiques, les deux membres fondateurs, Shark et 7v3n, décident alors de créer la RTG. Issus de la communauté Modern Warfare 2, alors dépourvue d’activité, leur objectif a alors été de la relancer, et d’étendre le projet vers d’autres jeux. Dans ce but, l’équipe RTG s’agrandit : Lilith, Fury, Harck, Taokyl et Belette rejoignent alors le projet.</p>
    
    <h2>Le concept RTG</h2>
    <p>Le concept de la RTG, épaulé de ses serveurs TeamSpeak® ainsi que de ses adhérents, est de proposer des événements compétitifs virtuels mais également « physiques » (appelés « Lan »).
    L’adhésion des membres à l’association, de partenariats solides avec des enseignes du monde de l’informatique, du jeu vidéo et du web de manière plus générale seront des éléments qui permettront le bon fonctionnement de la RTG. Notre objectif aujourd’hui est de redynamiser la communauté PC, support roi pendant des années avant d’être délaissé par les joueurs de FPS en faveur des consoles.</p>

    <h2>RTG, association</h2>
    <p>La Restart The Game est une association à but non lucratif implantée dans la région lyonnaise. Nous souhaitons relancer la communauté PC, en proposant à nos membres le meilleur de la compétition et des Lans. Nous sommes en effet conscients que la plus grande difficulté rencontrée par les joueurs issus du domaine E-sport, est de trouver des structures solides proposant des évènements réguliers.</p>
    
    <h2>Le [Staff RTG]</h2>
    <div class="staff row">
        <div class="col-md-6">
            <div class="col-md-10 col-md-offset-1 thumbnail">
                <div class="col-md-6">
                    {% if file_exists(web_path~'/bundles/rtgsite/img/content/staff/7v3n.jpg') %}
                    <img class="picture img-circle img-responsive" src="{{ asset('bundles/rtgsite/img/content/staff/7v3n.jpg') }}" />
                    {% else %}
                    <img class="picture img-circle img-responsive" src="{{ asset('bundles/rtgsite/img/content/staff/anonyme.jpg') }}" />
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <p>Milàn Godart (<strong>7v3n</strong>)</p>
                    <p>Arrageois</p>
                    <br/>
                    <p><strong>Président</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10 col-md-offset-1 thumbnail">
                <div class="col-md-6">
                    {% if file_exists(web_path~'/bundles/rtgsite/img/content/staff/belette.jpg') %}
                    <img class="picture img-circle img-responsive" src="{{ asset('bundles/rtgsite/img/content/staff/belette.jpg') }}" />
                    {% else %}
                    <img class="picture img-circle img-responsive" src="{{ asset('bundles/rtgsite/img/content/staff/anonyme.jpg') }}" />
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <p>Amandine Bouttier (<strong>Belette</strong>)</p>
                    <p>Rillarde</p>
                    <p><strong>Secrétaire</strong></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="staff row">
        <div class="col-md-6">
            <div class="col-md-10 col-md-offset-1 thumbnail">
                <div class="col-md-6">
                    {% if file_exists(web_path~'/bundles/rtgsite/img/content/staff/lilith.jpg') %}
                    <img class="picture img-circle img-responsive" src="{{ asset('bundles/rtgsite/img/content/staff/lilith.jpg') }}" />
                    {% else %}
                    <img class="picture img-circle img-responsive" src="{{ asset('bundles/rtgsite/img/content/staff/anonyme.jpg') }}" />
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <p>Julie Genet (<strong>Lilith</strong>)</p>
                    <p>Saint-Chamonaise</p>
                    <p><strong>Secrétaire Adjointe</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10 col-md-offset-1 thumbnail">
                <div class="col-md-6">
                    {% if file_exists(web_path~'/bundles/rtgsite/img/content/staff/fury.jpg') %}
                    <img class="picture img-circle img-responsive" src="{{ asset('bundles/rtgsite/img/content/staff/fury.jpg') }}" />
                    {% else %}
                    <img class="picture img-circle img-responsive" src="{{ asset('bundles/rtgsite/img/content/staff/anonyme.jpg') }}" />
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <p>Olivier Haag (<strong>Fury</strong>)</p>
                    <p>21 ans</p>
                    <p>Pavezinois</p>
                    <p><strong>Développeur</strong></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="staff row">
        <div class="col-md-6">
            <div class="col-md-10 col-md-offset-1 thumbnail">
                <div class="col-md-6">
                    {% if file_exists(web_path~'/bundles/rtgsite/img/content/staff/taokyl.jpg') %}
                    <img class="picture img-circle img-responsive" src="{{ asset('bundles/rtgsite/img/content/staff/taokyl.jpg') }}" />
                    {% else %}
                    <img class="picture img-circle img-responsive" src="{{ asset('bundles/rtgsite/img/content/staff/anonyme.jpg') }}" />
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <p>Emmanuel Besset (<strong>Taokyl</strong>)</p>
                    <p>Oullinois</p>
                    <p><strong>Trésorier</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10 col-md-offset-1 thumbnail">
                <div class="col-md-6">
                    {% if file_exists(web_path~'/bundles/rtgsite/img/content/staff/harck.jpg') %}
                    <img class="picture img-circle img-responsive" src="{{ asset('bundles/rtgsite/img/content/staff/harck.jpg') }}" />
                    {% else %}
                    <img class="picture img-circle img-responsive" src="{{ asset('bundles/rtgsite/img/content/staff/anonyme.jpg') }}" />
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <p>Mikael Ravinet (<strong>Harck</strong>)</p>
                    <p>Lyonnais</p>
                    <p><strong>Hébergeur</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
