{% extends 'RTGSiteBundle::layout.html.twig' %}

{% block title %}Administration - RTG{% endblock %}

{% block content %}
<div class="bloc container">
    <h1>Administration</h1>
    <div>
        <h2>Actualités</h2>
        <a href="{{ path('rtg_blog_admin_newsarticle_index') }}"><button class="btn btn-primary">{{ 'news'|trans({}, 'menu') }}</button></a>
        <a href="{{ path('rtg_blog_admin_category_index') }}"><button class="btn btn-primary">{{ 'categories'|trans({}, 'menu') }}</button></a>
    </div>
    <div>
        <h2>Compétitions</h2>
        <a href="{{ path('rtg_blog_admin_competitionarticle_index') }}"><button class="btn btn-primary">{{ 'competitions'|trans({}, 'menu') }}</button></a>
    </div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div>
        <h2>Utilisateurs</h2>
        <a href="{{ path('rtg_user_admin_user_index') }}"><button class="btn btn-primary">{% trans from 'content' %}users{% endtrans %}</button></a>
    </div>
    {% endif %}
</div>
{% endblock %}
