<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-user">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('rtg_site_page_index') }}" title="Restart the Game">Restart the Game</a>
        </div>
        <div class="collapse navbar-collapse" id="menu-user">
            <ul class="nav navbar-nav navbar-right navbar-collapse">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {# {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} #}
                <li{% if 'profile' in app.request.get('_route') or 'rtg_user_user_edit' in app.request.get('_route') %} class="active"{% endif %}>
                    <a href="{{ path('rtg_user_user_myprofile') }}" title="{{ 'profile'|trans({}, 'menu') }}"><span class="glyphicon glyphicon-user"></span> {{ 'profile'|trans({}, 'menu') }}</a>
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                    <li{% if 'admin' in app.request.get('_route') %} class="active"{% endif %}>
                        <a href="{{ path('rtg_site_page_admin') }}" title="{{ 'admin'|trans({}, 'menu') }}"><span class="glyphicon glyphicon-wrench"></span> {{ 'admin'|trans({}, 'menu') }}</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('fos_user_security_logout') }}" title="{{ 'logout'|trans({}, 'menu') }}"><span class="glyphicon glyphicon-log-out"></span> {{ 'logout'|trans({}, 'menu') }}</a>
                </li>                        
            {% else %}
                <a href="{{ path('fos_user_registration_register') }}" class="navbar-link" title=""><span class="glyphicon glyphicon-ok"></span> {{ 'register'|trans({}, 'menu') }}</a>
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary navbar-btn" title="{{ 'login'|trans({}, 'menu') }}"><span class="glyphicon glyphicon-log-in"></span> {{ 'login'|trans({}, 'menu') }}</a>
            {% endif %}
            </ul>
        </div>
    </div>
</div>