{% extends "RTGUserBundle::layout.html.twig" %}
{% trans_default_domain 'entity' %}

{% block content %}
    {% if app.user.username == user.username %}
    <h1>{{ 'user.title.my_profile'|trans }}</h1>
    {% else %}
    <h1>{{ 'user.title.profile_of'|trans({'username': user.username}) }}</h1>
    {% endif%}

    {{ form_start(form, { 'attr': { 'class': 'form' } }) }}
    
    {{ form_errors(form) }}

    <div class="form-group">
    {{ form_row(form.username, { 'attr': { 'placeholder': 'user.field.username'|trans } }) }}
    </div>

    <div class="form-group">
    {{ form_row(form.email, { 'attr': { 'placeholder': 'user.field.email'|trans } }) }}
    </div>

    <div class="checkbox">
    {{ form_row(form.newsletter, { 'attr': { 'placeholder': 'user.field.newsletter'|trans } }) }}
    </div>

    <div class="form-group">
    {{ form_row(form.birthday) }}
    </div>

    <div class="form-group">
    {{ form_row(form.city, { 'attr': { 'placeholder': 'user.field.city'|trans } }) }}
    </div>

    {% if delete_img_form is not defined %}
    <div class="form-group">
    {{ form_row(form.avatar) }}
    </div>
    {% else %}
    <div class="form-group">
        <label>Image</label>
        <div>
            <img src="{{ user.avatar.webPath|apply_filter('tb-128x128') }}" alt="{{ user.username }}"/>
        </div>
    </div>
    {% endif %}

    <div class="form-group pull-right">
    {{ form_row(form.submit) }}
    </div>

    {{ form_end(form) }}
    
    {% if app.user.username != user.username %}    
    <div class="form-group pull-right">
    {{ form(delete_form) }}
    </div>
    {% endif %}

    {% if delete_img_form is defined %}
        {{ form(delete_img_form) }}
        <div class="clearfix"></div>
    {% endif %}
    
    {% if app.user.username == user.username %}
    <a class="btn btn-primary" href="{{ path('rtg_user_user_myprofile') }}">{{ 'user.button.back_to_my_profile'|trans }}</a>
    {% else %}
    <a class="btn btn-primary" href="{{ path('rtg_user_user_profile', {'id': user.id}) }}">{{ 'user.button.back_to_profile'|trans }}</a>
    {% endif%}
{% endblock %}
