{% extends "RTGUserBundle::layout.html.twig" %}
{% trans_default_domain 'entity' %}

{% block title %}{{ 'user.title.my_profile'|trans }} - RTG{% endblock %}

{% block content %}
    <h2>{{ 'user.title.my_infos'|trans }}</h2>
    <div class="clearfix user_infos">
        {% if user.avatar is not null %}
            <img class="thumbnail pull-right" src="{{ user.avatar.webPath|apply_filter('tb-128x128') }}" alt="{{ user.username }}"/>
        {% endif %}
        <p>{{ 'user.field.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'user.field.email'|trans }}: {{ user.email }}</p>
        <p>{{ 'user.field.age'|trans }}: {{ user.age }}</p>
        <p>{{ 'user.field.city'|trans }}: {{ user.city }}</p>
        <p>{% if user.newsletter %}{{ 'user.field.newsletter_suscribed'|trans }}{% endif %}</p>
        {% if user.hasRole('ROLE_STAFF')%}<p>Staff RTG</p>{% endif %}
    </div>

    {#<h2>{{ 'user.title.my_connections'|trans }}</h2>
    <div class="connect_items">
        {% include 'RTGAppBundle:Page:serviceItem.html.twig' with {'service': 'twitch', 'title': 'Twitter', 'desc': 'Associez votre compte Twitch en un clic à votre compte Restart the Game'} %}
    </div>#}

    <a href="{{ path('rtg_user_user_edit') }}" title="Profil" class="btn btn-primary pull-right">{{ 'user.button.complete_profile'|trans }}</a>
    <a href="{{ path('rtg_user_user_delete') }}" class="btn btn-danger pull-right">{{ 'user.button.delete_account'|trans }}</a>
{% endblock content %}