{% extends "RTGUserBundle::layout.html.twig" %}
{% trans_default_domain 'entity' %}

{% block title %}{{ 'user.title.my_profile'|trans }}{% endblock %}

{% block content %}
    <h2>{{ 'user.title.my_infos'|trans }}</h2>
    {{ form_start(form, { 'attr': { 'class': 'form' } }) }}

    {{ form_errors(form) }}
    
    <fieldset class="row-fluid form-group">
        <div class="col-md-2">{{ form_label(form.username) }}</div>
        <div class="col-md-6">
            {{ form_widget(form.username, { 'attr': { 'placeholder': 'user.field.username'|trans } }) }}
            <small>Le nom d'utilisateur doit contenir entre 2 et 20 caractères.</small>
            {{ form_errors(form.username) }}
        </div>
    </fieldset>

    <fieldset class="row-fluid form-group">
        <div class="col-md-2">{{ form_label(form.email) }}</div>
        <div class="col-md-6">
            {{ form_widget(form.email, { 'attr': { 'placeholder': 'user.field.email'|trans } }) }}
            {{ form_errors(form.email) }}
        </div>
    </fieldset>

    <fieldset class="row-fluid form-group">
        <div class="col-md-2"><label>{{ 'user.field.newsletter'|trans }}</label></div>
        <div class="col-md-6"><div class="checkbox"><label>{{ form_widget(form.newsletter) }} {{ 'user.field.newsletter_suscribe'|trans }}</label></div></div>
    </fieldset>

    <fieldset class="row-fluid form-group">
        <div class="col-md-2">{{ form_label(form.birthday) }}</div>
        <div class="col-md-6">
            <div class="col-md-4">
                {{ form_widget(form.birthday.children.day, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            <div class="col-md-4">
                {{ form_widget(form.birthday.children.month, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            <div class="col-md-4">
                {{ form_widget(form.birthday.children.year, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            {{ form_errors(form.birthday) }}
        </div>
    </fieldset>

    <fieldset class="row-fluid form-group">
        <div class="col-md-2">{{ form_label(form.city) }}</div>
        <div class="col-md-6">
            {{ form_widget(form.city, { 'attr': { 'placeholder': 'user.field.city'|trans } }) }}
            {{ form_errors(form.city) }}
        </div>
    </fieldset>

    <fieldset class="row-fluid form-group">
        <div class="col-md-2"><label>{{ 'user.field.avatar'|trans }}</label></div>
        <div class="col-md-6 uploader">
            {% if user.avatar is not null %}
                <div class="picture">
                    <img src="{{ user.avatar.webPath|apply_filter('tb-128x128') }}" alt="{{ user.username }}"/>
                    <div class="checkbox-inline"><label>{{ form_widget(form.delete_avatar) }} {{ 'user.field.delete_avatar'|trans }}</label></div>
                </div>
            {% endif %}
            {% if form.avatar is defined %}
                <div class="file">
                    {{ form_widget(form.avatar.file) }}
                    <small>GIF, JPG ou PNG de 300 kB max.</small>
                </div>
                {{ form_errors(form.avatar.file) }}
            {% endif %}
        </div>
    </fieldset>
            
    {#<h2>{{ 'user.title.my_connections'|trans }}</h2>
    
    <fieldset class="row-fluid form-group">
        <div class="connect_items">
            {% include 'RTGAppBundle:Page:include/serviceItem.html.twig' with {'service': 'twitch', 'title': 'Twitter', 'desc': 'Associez votre compte Twitch en un clic à votre compte {{ brand_name }}'} %}
        </div>
    </fieldset>#}

    <h2>{{ 'user.title.delete'|trans }}</h2>

    <fieldset class="row-fluid form-group">
        <div class="col-md-2">{{ 'user.button.delete_account'|trans }}</div>
        <div class="col-md-6">
            Si vous le souhaitez, vous pouvez désactiver votre compte {{ brand_name }} depuis la page
            <a href="{{ path('rtg_user_user_delete') }}" class="text-danger">{{ 'user.button.delete_account'|trans }}</a>
        </div>
    </fieldset>

    <div class="form-group">
        {{ form_widget(form.submit) }}
    </div>

    {{ form_end(form) }}

{% endblock content %}