{% extends "RTGUserBundle::layout.html.twig" %}
{% trans_default_domain 'entity' %}

{% block title %}{{ user.username }} - RTG{% endblock %}

{% block content %}
    <h1>{{ user.username }}</h1>
    
    {% if user.avatar is not null %}
        <div class="absolute-pull-right">
            <img class="thumbnail" src="{{ user.avatar.webPath|apply_filter('tb-128x128') }}" alt="{{ user.username }}"/>
        </div>
    {% endif %}
    
    <fieldset class="row-fluid form-group">
        <div class="col-md-2"><label>{{ 'user.field.rank'|trans }}</label></div>
        <div class="col-md-6">{{ user.rank }}</div>
    </fieldset>
    
    <fieldset class="row-fluid form-group">
        <div class="col-md-2"><label>{{ 'user.field.age'|trans }}</label></div>
        <div class="col-md-6">{{ user.age }}</div>
        <div class="clearfix"></div>
    </fieldset>

    <fieldset class="row-fluid form-group">
        <div class="col-md-2"><label>{{ 'user.field.city'|trans }}</label></div>
        <div class="col-md-6">{{ user.city }}</div>
    </fieldset>
{% endblock content %}
