{% extends "RTGUserBundle::layout.html.twig" %}
{% trans_default_domain 'entity' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <h1>{{ user.username }}</h1>
    
        <div class="absolute-pull-right">
        {% if user.avatar is not null %}
            <img src="{{ user.avatar.webPath|apply_filter('tb-128x128') }}" alt="{{ user.username }}"/>
        {% else %}
            <img src="{{ gravatar(user.email) }}" alt="{{ user.username }}"/>
        {% endif %}
        </div>
    
    <fieldset class="row form-group">
        <div class="col-md-2"><label>{{ 'user.field.rank'|trans }}</label></div>
        <div class="col-md-6">{{ user.rank }}</div>
    </fieldset>
    
    <fieldset class="row form-group">
        <div class="col-md-2"><label>{{ 'user.field.first_name'|trans }}</label></div>
        <div class="col-md-6">{{ user.firstName }}</div>
    </fieldset>
    
    <fieldset class="row form-group">
        <div class="col-md-2"><label>{{ 'user.field.last_name'|trans }}</label></div>
        <div class="col-md-6">{{ user.lastName }}</div>
    </fieldset>
    
    <fieldset class="row form-group">
        <div class="col-md-2"><label>{{ 'user.field.age'|trans }}</label></div>
        <div class="col-md-6">{{ user.age }}</div>
    </fieldset>

    <fieldset class="row form-group">
        <div class="col-md-2"><label>{{ 'user.field.city'|trans }}</label></div>
        <div class="col-md-6">{{ user.city }}</div>
    </fieldset>
{% endblock content %}
