{% extends 'RTGBlogBundle::layout.html.twig' %}

{% block title %}{% trans %}Competitions{% endtrans %} - RTG{% endblock %}

{% block content %}
    <h1>{% trans %}Competitions{% endtrans %}</h1>
    {% for article in articles %}
        <article itemscope itemtype="http://schema.org/Event" class="article">
            <header>
                <div class="date pull-right">Posté le <time datetime="{{ article.created|date('c') }}">{{ article.created|localizeddate('full', 'short')|capitalize }}</time></div>
                <h2><a itemprop="url" href="{{ path('rtg_blog_competitionarticle_show', { 'slug': article.slug }) }}"><span itemprop="name">{{ article.title }}</span></a></h2>
            </header>
            {% if article.date is null %}
                Non plannifiée
            {% else %}
                <link itemprop="eventStatus" href="http://schema.org/{{ article.status }}"/>
                {% if article.status == 'EventScheduled' %}
                    <strong>Compétition plannifiée le <time itemprop="startDate" datetime="{{ article.date|date('c') }}">{{ article.date|localizeddate('full', 'none')|capitalize }}</time>.</strong>
                {% elseif article.status == 'EventRescheduled' %}
                    <strong>Compétition replannifiée le <time itemprop="startDate" datetime="{{ article.date|date('c') }}">{{ article.date|localizeddate('full', 'none')|capitalize }}</time>.</strong>
                {% elseif article.status == 'EventPostponed' %}
                    <strong>Compétition repoussée.</strong><br/>
                    <small>Initialement prévu le <time itemprop="previousStartDate" datetime="{{ article.date|date('c') }}">{{ article.date|localizeddate('full', 'none')|capitalize }}</time>.</small>
                {% elseif article.status == 'EventCancelled' %}
                    <strong>Compétition annulée.</strong><br/>
                    <small>Initialement prévu le <time itemprop="previousStartDate" datetime="{{ article.date|date('c') }}">{{ article.date|localizeddate('full', 'none')|capitalize }}</time>.</small>
                {% endif %}
            {% endif %}
        </article>
        {% if not loop.last %}<hr/>{% endif %}
    {% else %}
        <p>{% trans %}There are no articles{% endtrans %}</p>
    {% endfor %}
{% endblock %}