{% extends 'RTGBlogBundle::layout.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block meta_author %}Restart the Game{% endblock %}

{% block meta %}
<meta property="fb:app_id" content="1588369448044304">
<meta property="og:url" content="{{ app.request.uri }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ article.title }}">
<meta property="og:image" content="{{ url('rtg_app_page_index')|slice(0, -1) ~ asset(article.image.webPath) }}">
<meta property="article:section" content="{{ article.category.title }}">
<meta property="article:published_time" content="{{ article.created|date('Y-m-d') }}">
<meta property="article:modified_time" content="{{ article.updated|date('Y-m-d') }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ article.title }}">
<meta name="twitter:site" content="@RestartTheGame">
<meta name="twitter:image:src" content="{{ url('rtg_app_page_index')|slice(0, -1) ~ asset(article.image.webPath) }}">
<meta name="twitter:domain" content="restartthegame.com">
{% endblock %}

{% block content %}
    <article itemscope itemtype="http://schema.org/Event">
        <header class="row-fluid">
            <div class="pull-right">Annoncée le <time datetime="{{ article.created|date('c') }}">{{ article.created|localizeddate('full', 'none')|capitalize }}</time></div>
            <h1 itemprop="name">{{ article.title }}</h1>
            {% if article.image is not null %}
                <img itemprop="image" src="{{ asset(article.image.webPath) }}" alt="{{ article.title }} image not found" class="img-responsive" />
            {% endif %}
            {% if article.date is null %}
                Non plannifiée
            {% else %}
                <link itemprop="eventStatus" href="http://schema.org/{{ article.status }}"/>
                {% if article.status == 'EventScheduled' %}
                    <strong>Compétition plannifiée le <time itemprop="startDate" datetime="{{ article.date|date('c') }}">{{ article.date|localizeddate('full', 'none')|capitalize }}</time>.</strong>
                {% elseif article.status == 'EventRescheduled' %}
                    <strong>Compétition replannifiée le <time itemprop="startDate" datetime="{{ article.date|date('c') }}">{{ article.date|localizeddate('full', 'none')|capitalize }}</time>.</strong>
                {% elseif article.status == 'EventPostponed' %}
                    <strong>Compétition repoussée.</strong><br/>
                    <small>Initialement prévu le <time itemprop="previousStartDate" datetime="{{ article.date|date('c') }}">{{ article.date|localizeddate('full', 'none')|capitalize }}</time>.</small>
                {% elseif article.status == 'EventCancelled' %}
                    <strong>Compétition annulée.</strong><br/>
                    <small>Initialement prévu le <time itemprop="previousStartDate" datetime="{{ article.date|date('c') }}">{{ article.date|localizeddate('full', 'none')|capitalize }}</time>.</small>
                {% endif %}
            {% endif %}
            <div class="row-fluid">
                <div class="col-md-2">
                    <div class="fb-like" data-href="{{app.request.uri}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                </div>
                <div class="col-md-1">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="RestartTheGame" data-count="none">Tweet</a>
                </div>
                <div class="col-md-1">
                    <div class="g-plusone" data-size="medium" data-href="{{app.request.uri}}"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </header>
        <div class="row-fluid">
            <div class="col-md-12">
                {{ article.message|raw }}
            </div>

            {#<div class="col-md-2">
                <div class="row">
                    {% if app.user %}
                        <button id="suscribe_to_event" data-url="{{ path('rtg_blog_competitionarticle_ajaxtoggleregistration', {'id': article.id}) }}" data-username="{{app.user.username}}" class="btn btn-{% if app.user in article.users %}danger{% else %}success{% endif %} navbar-btn" title="Je m'inscris"><span class="glyphicon glyphicon-{% if app.user in article.users %}ban-circle{% else %}ok-circle{% endif %}"></span>&nbsp;<span class="btn-content">{% if app.user in article.users %}Je me désinscris{% else %}Je m'inscris{% endif %}</span></button>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary navbar-btn" title="{{ 'login'|trans({}, 'menu') }}"><span class="glyphicon glyphicon-log-in"></span> {{ 'login'|trans({}, 'menu') }}</a>
                    {% endif %}
                </div>
                <div class="row">
                    <label {% if article.users is empty %}class="hidden"{% endif %}>Liste des participants: </label>
                    <ul class="registred_users">
                        {% for user in article.users %}
                            <li id="user_{{user.username}}">{{user.username}}</li>
                            {% endfor %}
                    </ul>
                </div>
            </div>#}
        </div>
    </article>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {#<script type="text/javascript">
        $(function() {
            $("#suscribe_to_event").click(function() {
                var username = $(this).data('username');
                var btn = $(this);
                btn.attr('disabled', true);
                $.ajax({
                    url: $(this).data('url'),
                    method: 'POST',
                    dataType: 'json'
                }).done(function(data) {
                    if (data.registered) {
                        $(".registred_users").append('<li id="user_' + username + '">' + username + '</li>');
                        $(".registred_users").siblings('label').removeClass('hidden');
                        btn.removeClass('btn-success').addClass('btn-danger');
                        btn.find('.glyphicon').removeClass('glyphicon-ok-circle').addClass('glyphicon-ban-circle');
                        btn.find('.btn-content').html('Je me désinscris');
                    } else {
                        $(".registred_users #user_" + username).remove();
                        if($(".registred_users li").length <= 0) {
                            $(".registred_users").siblings('label').addClass('hidden');
                        }
                        btn.removeClass('btn-danger').addClass('btn-success');
                        btn.find('.glyphicon').removeClass('glyphicon-ban-circle').addClass('glyphicon-ok-circle');
                        btn.find('.btn-content').html('Je m\'inscris');
                    }
                }).always(function() {
                    btn.attr('disabled', false);
                });
            });
        });
    </script>#}
{% endblock %}