{% extends 'RTGBlogBundle::layout.html.twig' %}

{% block title %}{% trans %}News{% endtrans %}{% endblock %}

{% block content -%}
    <a class="pull-right" href="{{ path('rtg_blog_admin_newsarticle_new') }}">
        <button class="btn btn-success">{{ 'article.create_a_new_entry'|trans({}, 'form') }}</button>
    </a>
    <h1>{{ 'title.article.index'|trans }}</h1>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'general.title'|trans({}, 'form') }}</th>
                <th>{{ 'general.author'|trans({}, 'form') }}</th>
                <th>{{ 'general.image'|trans({}, 'form') }}</th>
                <th>{{ 'general.category'|trans({}, 'form') }}</th>
                <th>{{ 'general.created'|trans({}, 'form') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ path('rtg_blog_admin_newsarticle_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.author }}</td>
                {% if entity.image is not null %}
                <td><img src="{{ entity.image.webPath|apply_filter('tb-128x128') }}" /></td>
                {% else %}
                <td>Aucune</td>
                {% endif %}
                <td>{{ entity.category|default('-') }}</td>
                <td><time datetime="{{ entity.created|date('c') }}">{{ entity.created|localizeddate('short', 'none')|capitalize }}</time></td>
                <td>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('rtg_blog_admin_newsarticle_edit', { 'id': entity.id }) }}"><button class="btn btn-primary btn-xs">{{ 'general.edit'|trans({}, 'form') }}</button></a>
                    </li>
                    <li>
                        <a href="{{ path('rtg_blog_newsarticle_show', { 'slug': entity.slug }) }}"><button class="btn btn-info btn-xs">{{ 'general.show'|trans({}, 'form') }}</button></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="pull-right" href="{{ path('rtg_blog_admin_newsarticle_new') }}">
        <button class="btn btn-success">{{ 'article.create_a_new_entry'|trans({}, 'form') }}</button>
    </a>
{% endblock %}
