{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <a href="{{ path('fos_user_profile_edit') }}" title="Profil" class="btn btn-primary">Compléter mon profil</a>
    <a href="{{ path('rtg_user_user_deletemyaccount') }}" class="btn btn-danger">Supprimer mon compte</a>
</div>
